<ion-content [fullscreen]="true" color="light">
  <div id="menu-header">
  </div>
  <div id="header-content">
    <div>
      <div class="flex">
        <img src="../assets/carpooling.jpg" alt="">
      </div>
      <ion-label class="ion-text-center">
        <h1> معك </h1>
        <p> مرحبا بك  </p>
      </ion-label>
    </div>
  </div>
  <form [formGroup]="user" (ngSubmit)="onSubmit()">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title> صفحة تسجيل الدخول </ion-card-title>
      <ion-card-subtitle>الرجاء إدخال بيانات الاعتماد الخاصة بك</ion-card-subtitle>
      {{authError}}
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>اسم المستخدم</ion-label>
          <ion-input  formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>كلمه السر</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content> 
  </ion-card>
  <div class="btn-login">
    <ion-button expand="block" mode="ios" size="large" type="submit">
      تسجيل الدخول
      <ion-icon name="enter-outline" slot="end"></ion-icon>
    </ion-button>
    <p class="ion-text-center">
      نسيت اسم المستخدم / كلمة المرور الخاصة بك <span class="link">انقر هنا</span>
    </p>
    <ion-button expand="block" mode="ios" size="large" color="light" [routerLink]="['/user/register']">
      انشئ حساب
    </ion-button>
  </div>
</form>
</ion-content>