<ion-content [fullscreen]="true" color="light">

  <div class="wrapper">
    <div class="overlay-wrapper"></div>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-button slot="end" class="box-none mt-3" style="--background: transparent" [routerLink]="['/user/dashboard']">
          <ion-icon name="chevron-back" size="large" class="yellow-dark"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-item class="mt-2 mb-5" lines="none">
      <ion-icon name="car" slot="start" size="small" class="yellow-dark"></ion-icon>
      <ion-label>
        <ul>
          <li>
            <h2 class="text-2xl yellow-dark">سيارتي</h2>
          </li>
          <li><span class="text-sm yellow-dark">معلومات عن سيارتك</span></li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-card class="main-card mt-5">
      <ion-card-content>
        <ion-list *ngIf="currentCar">
          <ion-item>
            <h1 class="text-sm">تم تسجيل البيانات بنجاح</h1>
          </ion-item>
          <ion-item lines="none">
            <h1 class="text-lg my-5">اختيارك الحالي</h1>
          </ion-item>
          <ion-item>
            <ion-label>ماركة السيارة</ion-label>
            <ion-label>{{currentCar.brand}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>نوع السيارة</ion-label>
            <ion-label>{{currentCar.model}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>موديل السيارة</ion-label>
            <ion-label>{{currentCar.state}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>رقم اللوحة</ion-label>
            <ion-label>{{currentCar.serialNumber}}</ion-label>
          </ion-item>
          <ion-item class="my-5" lines="none">
            <h1 class="text-lg"> يمكنك التغيير أدناه</h1>
          </ion-item>
        </ion-list>
        <form [formGroup]="userCar" (ngSubmit)="onSubmit()">
          <ion-list lines="none">
            <ion-item>
              <ion-label>ماركة السيارة</ion-label>
              <ion-select (ionChange)="changeBrand($event)" formControlName="brand">
                <ion-select-option value="" disabled>اختر ماركة السيارة</ion-select-option>
                <ion-select-option *ngFor="let brand of brands" value="{{brand.label}}">{{brand.label}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="modelArray">
              <ion-label>نوع السيارة</ion-label>
              <ion-select formControlName="model">
                <ion-select-option value="" disabled>اختر نوع السيارة</ion-select-option>
                <ion-select-option *ngFor="let m of modelArray" value="{{m}}">{{m}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>موديل السيارة</ion-label>
              <ion-select formControlName="state">
                <ion-select-option value="" disabled>موديل السيارة</ion-select-option>
                <ion-select-option *ngFor="let m of carReleaseYear" value="{{m}}">{{m}}</ion-select-option>
                
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>رقم اللوحة</ion-label>
              <ion-input formControlName="serialNumber"></ion-input>
            </ion-item>
            <ion-item class="mt-5">
              <ion-button type="submit" size="large">
                موافق
              </ion-button>
            </ion-item>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>