<ion-content [fullscreen]="true" color="light">
  <div id="menu-header">
  </div>
  <div id="header-content">
    <div>
      <div class="flex">
        <img src="../assets/carpooling.jpg" alt="">
      </div>
      <ion-label class="ion-text-center">
        <h1>معك</h1>
        <p> مرحبا بك </p>
      </ion-label>
    </div>
  </div>
  <form [formGroup]="user" (ngSubmit)="onSubmit()">
    
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>انشاء حساب جديد</ion-card-title>
        <ion-card-subtitle>الرجاء إدخال بيانات الاعتماد الخاصة بك</ion-card-subtitle>
        {{authError}}
      </ion-card-header>
      <ion-card-content>
        <ion-list line="none">

          <ion-item>
            <ion-label>اسم المستخدم</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
  
            <ion-label>جنس</ion-label>
            <ion-select placeholder="اختر" formControlName="gender">
              <ion-select-option value="female">امرأة</ion-select-option>
              <ion-select-option value="male">رجل</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item>
            <ion-label>عمر</ion-label>
            <ion-input type="text" formControlName="age"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label>البريد الإلكتروني</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label>رقم الهاتف</ion-label>
            <ion-input type="number" formControlName="phone"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label slot="start">الصوره الشخصيه</ion-label>
            <ion-icon lazy="true" slot="end" name="image" color="tertiary"></ion-icon>
            <ion-input type="file" accept="image/*" style="opacity: 0; position: absolute" name="picture" formControlName="picture" (change)="getImage($event)">
            </ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label>كلمه السر</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label>تأكيد كلمة المرور</ion-label>
            <ion-input type="password" formControlName="confirmationPassword"></ion-input>
          </ion-item>
        </ion-list>

      </ion-card-content>
    </ion-card>
    <div class="btn-login">
      <ion-button expand="block" mode="ios" type="submit">
        إنشاء حساب
        <ion-icon name="enter-outline" slot="end"></ion-icon>
      </ion-button>
      <p class="ion-text-center">
        نسيت اسم المستخدم / كلمة المرور الخاصة بك <span class="link">انقر هنا</span>
      </p>
      <ion-button expand="block" mode="ios" size="large" color="light" [routerLink]="['/user/login']">
        تسجيل الدخول
      </ion-button>
    </div>
    
  </form>
</ion-content>