.wrapper{
    position: relative;
    // background: #2e26d9;
    background: linear-gradient(90deg, #6370ff 0%, #3932c0 100%);
    ion-card.main-card{
        --background: #f2f2f2;
        --padding: 0 !important;
        margin: 0px 0px 0px 0px !important;
        box-shadow: 0px 1px 10px #3932c0;
        border-radius: 20px;
        ion-card{
            box-shadow: none !important;
        }
        border-bottom-right-radius: 0  !important;    
        border-bottom-left-radius: 0  !important;     
    }
}
ion-fab{
    position: fixed;
    bottom: 1rem;
    left: 40%;
    ion-fab-button{
        width: 5rem;
        height: 5rem;
        --border-radius: 1rem;
        --background: #3932c0;
    }
}
