<ion-header >
  <ion-toolbar>
    <ion-title class="grey-100">
      صفحة التسعير 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="flex item-center" style="height: 100%; width: 100%;">
    <ion-item style="width: 100%;">
      <ion-label>صفحة التسعير </ion-label>
      
    </ion-item>
  </div>
  <ion-fab>
    <ion-fab-button class="flex-row" (click)="nextStep()">
      <ion-icon name="arrow-forward-outline" size="large" ></ion-icon>
    </ion-fab-button> 
  </ion-fab>
</ion-content> 