// h1.title{
//     color: #f2f2f2;
// }
.box-none{
    --box-shadow: none !important
}
.wrapper{
    position: relative;
    background: url(../../assets/carpooling-bg.jpg) no-repeat center center/cover;
    .overlay-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ecececc0;
    }
    ion-card.main-card{
        --background: linear-gradient(90deg, #6370ff 0%, #3932c0 100%);
        padding: 0 !important;
        margin: 20px 0px !important;
        box-shadow: 0px 1px 10px #e6e6e6;
        border-radius: 20px;
        ion-card-content.card-content-no-padding{
            padding: 0;
        }
        h3.title{
            color: #f5cd50
        }
        ion-card.card-img{
            // box-shadow:none !important;
            background: #f2f2f2;
            ion-card-content{
                padding: 0 ;
            }
            img{
                border-radius: 5px;
            }
        }
    }
    ion-card.one{
        position: relative;
        background: url(../../assets/carpooling-bg.jpg) no-repeat center center/cover;
        border-radius: 20px;
        box-shadow: 0px 1px 10px #3932c0 ;
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #f5f5f5de;
        }
        ion-button{
            --background: #f26dff;
        }
       
    }

    ion-chip{
        --background: transparent
    }
    div.not{
        text-align: center;
        border-radius: 20px;
        padding: 5px 0;
        margin: 20px 15px;
        color: #454545
    }
    .flex{
        display: flex;
        // align-items: center;
        color: #000;

        span{
            font-size: 12px;
            color: rgb(95, 95, 95);
        }
    }
    .flex-inbetween{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-label{
            width: 50px;
            overflow: ellipsis;
            white-space: no-wrap
        }
    }
    .features {
        ion-fab-button{
            --background: #f26dff;
            // --box-shadow: none;
        }
        ion-fab-button.active{
            --background: #ffc409;
            // --box-shadow: none;
        }
        ion-fab-button.active-{
            --background: #4f51e1d0;
            // --box-shadow: none;
        }
        ion-item{
            margin: 0 10px;
        }
        ion-item.active{
            box-shadow: 0px 1px 10px #a0a0a0;
            --background: #fff;
            border-radius: 10px;
            
        }
    }
    .see-more{
        ion-label{
            color: #f2f2f2
        }
    }
    
}

ion-searchbar{
    padding: 0;
    margin-top: 20px;
    --background: #cecece;
    --box-shadow:none !important
}
.mt{
    margin-top: 20px;
}
ion-item.login{
    // border-top-right-radius: 10px;
    // border-top-left-radius: 10px;
    border-radius: 10px;
}



.alert-wrapper{
    --background: #fff;
}

ion-menu{
    ion-content{
        background: #f0f0f0;
    }
}

